USE [master]
GO
/****** Object:  Database [UP_Murtazin]    Script Date: 10.04.2026 8:33:21 ******/
CREATE DATABASE [UP_Murtazin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UP_Murtazin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS1\MSSQL\DATA\UP_Murtazin.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UP_Murtazin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS1\MSSQL\DATA\UP_Murtazin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UP_Murtazin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UP_Murtazin]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[company] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_companies] PRIMARY KEY CLUSTERED 
(
	[company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[critical_threshold_templates]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[critical_threshold_templates](
	[critical_threshold_template] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_critical_threshold_templates] PRIMARY KEY CLUSTERED 
(
	[critical_threshold_template] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kit_online_id]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kit_online_id](
	[vending_machine_id] [nvarchar](255) NULL,
	[kit_online_id] [nvarchar](255) NOT NULL,
	[company] [nvarchar](255) NULL,
	[payment_type] [nvarchar](255) NULL,
	[critical_threshold_template] [nvarchar](255) NULL,
	[service_priority] [nvarchar](255) NULL,
	[manager] [nvarchar](255) NULL,
	[status] [nvarchar](255) NULL,
	[notification_template] [nvarchar](255) NULL,
	[working_hours] [nvarchar](255) NULL,
	[engineer] [nvarchar](255) NULL,
 CONSTRAINT [PK_kit_online_id] PRIMARY KEY CLUSTERED 
(
	[kit_online_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maintenance]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maintenance](
	[maintenance_id] [float] NOT NULL,
	[date] [datetime] NULL,
	[issues_found] [nvarchar](255) NULL,
	[vending_machine_id] [nvarchar](255) NULL,
	[user_id] [nvarchar](255) NULL,
	[work_description] [nvarchar](255) NULL,
 CONSTRAINT [PK_maintenance] PRIMARY KEY CLUSTERED 
(
	[maintenance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_templates]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_templates](
	[notification_template] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_notification_templates] PRIMARY KEY CLUSTERED 
(
	[notification_template] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[operators]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[operators](
	[operator] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_operators] PRIMARY KEY CLUSTERED 
(
	[operator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[payment_method] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_payment_methods] PRIMARY KEY CLUSTERED 
(
	[payment_method] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_types]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_types](
	[payment_type] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_payment_types] PRIMARY KEY CLUSTERED 
(
	[payment_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NULL,
	[price] [float] NULL,
	[min_stock] [float] NULL,
	[vending_machine_id] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[quantity_available] [float] NULL,
	[sales_trend] [float] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rfid_cash_collections]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rfid_cash_collections](
	[vending_machine_id] [nvarchar](255) NULL,
	[rfid_cash_collection] [nvarchar](255) NOT NULL,
	[notes] [nvarchar](255) NULL,
	[location] [nvarchar](255) NULL,
	[work_mode] [nvarchar](255) NULL,
 CONSTRAINT [PK_rfid_cash_collections] PRIMARY KEY CLUSTERED 
(
	[rfid_cash_collection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rfid_loading]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rfid_loading](
	[vending_machine_id] [nvarchar](255) NULL,
	[rfid_loading] [nvarchar](255) NOT NULL,
	[model] [nvarchar](255) NULL,
 CONSTRAINT [PK_rfid_loading] PRIMARY KEY CLUSTERED 
(
	[rfid_loading] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rfid_services]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rfid_services](
	[vending_machine_id] [nvarchar](255) NULL,
	[rfid_service] [nvarchar](255) NOT NULL,
	[coordinates] [nvarchar](255) NULL,
	[total_income] [nvarchar](255) NULL,
	[timezone] [nvarchar](255) NULL,
 CONSTRAINT [PK_rfid_services] PRIMARY KEY CLUSTERED 
(
	[rfid_service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_roles] PRIMARY KEY CLUSTERED 
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sales]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sales](
	[sales_id] [float] NOT NULL,
	[timestamp] [nvarchar](255) NULL,
	[product_id] [nvarchar](255) NULL,
	[total_price] [nvarchar](255) NULL,
	[quantity] [float] NULL,
	[payment_method] [nvarchar](255) NULL,
 CONSTRAINT [PK_sales] PRIMARY KEY CLUSTERED 
(
	[sales_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_priorities]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_priorities](
	[service_priority] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_service_priorities] PRIMARY KEY CLUSTERED 
(
	[service_priority] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statuss]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuss](
	[status] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_statuss] PRIMARY KEY CLUSTERED 
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NULL,
	[full_name] [nvarchar](255) NULL,
	[is_manager] [nvarchar](255) NULL,
	[is_engineer] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[is_operator] [nvarchar](255) NULL,
	[role] [nvarchar](255) NULL,
	[image] [nvarchar](max) NULL,
	[passsword] [nvarchar](255) NULL,
	[salt] [nchar](100) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vending_machines]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vending_machines](
	[vending_machine_id] [nvarchar](255) NOT NULL,
	[serial_number] [float] NULL,
	[name] [nvarchar](255) NULL,
	[user_id] [nvarchar](255) NULL,
	[rfid_cash_collection] [nvarchar](255) NULL,
	[rfid_loading] [nvarchar](255) NULL,
	[kit_online_id] [nvarchar](255) NULL,
	[rfid_service] [nvarchar](255) NULL,
	[install_date] [nvarchar](255) NULL,
	[place] [nvarchar](255) NULL,
	[operator] [nvarchar](255) NULL,
	[technician] [nvarchar](255) NULL,
	[last_maintenance_date] [nvarchar](255) NULL,
 CONSTRAINT [PK_vending_machines] PRIMARY KEY CLUSTERED 
(
	[vending_machine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_descriptions]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_descriptions](
	[work_description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_work_descriptions] PRIMARY KEY CLUSTERED 
(
	[work_description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_modes]    Script Date: 10.04.2026 8:33:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_modes](
	[work_mode] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_work_modes] PRIMARY KEY CLUSTERED 
(
	[work_mode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[companies] ([company]) VALUES (N'ООО ВендингСервис Плюс')
INSERT [dbo].[companies] ([company]) VALUES (N'ООО Про Вендинг Групп')
INSERT [dbo].[companies] ([company]) VALUES (N'ООО Торговые Аппараты')
GO
INSERT [dbo].[critical_threshold_templates] ([critical_threshold_template]) VALUES (N'Расширенный')
INSERT [dbo].[critical_threshold_templates] ([critical_threshold_template]) VALUES (N'Стандартный')
GO
INSERT [dbo].[kit_online_id] ([vending_machine_id], [kit_online_id], [company], [payment_type], [critical_threshold_template], [service_priority], [manager], [status], [notification_template], [working_hours], [engineer]) VALUES (N'a977e322-192c-4567-9f5f-36f504bfc13d', N'Kit-114271', N'ООО ВендингСервис Плюс', N'Модуль б/н оплаты,QR-платежи', N'Стандартный', N'Низкий', N'b38b5bfe-a0f9-481e-b2af-3c6bf43297d2', N'Обслуживается', N'Расширенный', N'9:00 - 18:00', N'6cccfbd6-11c7-4745-be39-6a1dfb3ea453')
INSERT [dbo].[kit_online_id] ([vending_machine_id], [kit_online_id], [company], [payment_type], [critical_threshold_template], [service_priority], [manager], [status], [notification_template], [working_hours], [engineer]) VALUES (N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', N'Kit-192398', N'ООО Торговые Аппараты', N'Модуль б/н оплаты,QR-платежи', N'Расширенный', N'Средний', N'7a051229-40bb-443e-80b8-024cb239f52b', N'Работает', N'Стандартный', N'9:00 - 18:00', N'da384682-1b30-466a-8482-2b7a7fc97e71')
INSERT [dbo].[kit_online_id] ([vending_machine_id], [kit_online_id], [company], [payment_type], [critical_threshold_template], [service_priority], [manager], [status], [notification_template], [working_hours], [engineer]) VALUES (N'7ed68dd4-ef8b-4124-9084-bc16ee8f10d3', N'Kit-232195', N'ООО Про Вендинг Групп', N'Модуль б/н оплаты,QR-платежи', N'Стандартный', N'Высокий', N'b38b5bfe-a0f9-481e-b2af-3c6bf43297d2', N'Сломан', N'Расширенный', N'9:00 - 18:00', N'b38b5bfe-a0f9-481e-b2af-3c6bf43297d2')
GO
INSERT [dbo].[maintenance] ([maintenance_id], [date], [issues_found], [vending_machine_id], [user_id], [work_description]) VALUES (1, CAST(N'2024-09-13T16:44:04.000' AS DateTime), N'Зависла сессия оплаты', N'a977e322-192c-4567-9f5f-36f504bfc13d', N'6cccfbd6-11c7-4745-be39-6a1dfb3ea453', N'Замена дисплея')
INSERT [dbo].[maintenance] ([maintenance_id], [date], [issues_found], [vending_machine_id], [user_id], [work_description]) VALUES (2, CAST(N'2024-04-25T06:59:09.000' AS DateTime), N'Проблемы с термобумагой', N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', N'6cccfbd6-11c7-4745-be39-6a1dfb3ea453', N'Чистка внутренних узлов')
INSERT [dbo].[maintenance] ([maintenance_id], [date], [issues_found], [vending_machine_id], [user_id], [work_description]) VALUES (3, CAST(N'2024-07-12T19:03:57.000' AS DateTime), N'Проблемы с термобумагой', N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'b38b5bfe-a0f9-481e-b2af-3c6bf43297d2', N'Ремонт купюроприемника')
GO
INSERT [dbo].[notification_templates] ([notification_template]) VALUES (N'Расширенный')
INSERT [dbo].[notification_templates] ([notification_template]) VALUES (N'Стандартный')
GO
INSERT [dbo].[operators] ([operator]) VALUES (N'Билайн')
INSERT [dbo].[operators] ([operator]) VALUES (N'Мегафон')
INSERT [dbo].[operators] ([operator]) VALUES (N'МТС')
GO
INSERT [dbo].[payment_methods] ([payment_method]) VALUES (N'Qr-код')
INSERT [dbo].[payment_methods] ([payment_method]) VALUES (N'Карта')
INSERT [dbo].[payment_methods] ([payment_method]) VALUES (N'Наличные')
GO
INSERT [dbo].[payment_types] ([payment_type]) VALUES (N'Купюроприемник, Модуль б/н оплаты')
INSERT [dbo].[payment_types] ([payment_type]) VALUES (N'Модуль б/н оплаты,QR-платежи')
INSERT [dbo].[payment_types] ([payment_type]) VALUES (N'Монетоприемник, Купюроприемник  ')
GO
INSERT [dbo].[product] ([product_id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'069d1026-82b5-4365-8481-1b38fe50307c', N'Трюфельный макиато', 105.2, 7, N'70f22c9f-de0a-41a9-9a53-cabf42688d47', N'Имеет интенсивный вкус с нотками шоколадного трюфеля.', 29, 1.14)
INSERT [dbo].[product] ([product_id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'075ac323-7649-44e8-bbff-60cbda965c47', N'Фисташковый мокко', 133.4, 18, N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', N'Имеет ореховый оттенок с нежной фисташковой ноткой.', 81, 5.55)
INSERT [dbo].[product] ([product_id], [name], [price], [min_stock], [vending_machine_id], [description], [quantity_available], [sales_trend]) VALUES (N'121d56e4-dc5b-43c3-8658-d1a00f8cbf76', N'Карамельно-соленый мокко', 45.53, 8, N'4daae871-71ac-44da-8b58-dcf1a2ae907a', N'Имеет необычный вкус с оттенком морской соли.', 92, 8.15)
GO
INSERT [dbo].[rfid_cash_collections] ([vending_machine_id], [rfid_cash_collection], [notes], [location], [work_mode]) VALUES (N'70f22c9f-de0a-41a9-9a53-cabf42688d47', N'RFID-CC-1074', N'-72.182146, 28.717243', N'к. Гусь-Хрустальный, ш. З.Космодемьянской, д. 136 к. 4, 011188', N'Стандартный')
INSERT [dbo].[rfid_cash_collections] ([vending_machine_id], [rfid_cash_collection], [notes], [location], [work_mode]) VALUES (N'53e2ec2e-d407-4e9a-a1d9-5a9501e81ede', N'RFID-CC-2315', N'-2.84296, -145.13715', N'д. Верхний Уфалей, наб. Белинского, д. 6 стр. 6, 518880', NULL)
INSERT [dbo].[rfid_cash_collections] ([vending_machine_id], [rfid_cash_collection], [notes], [location], [work_mode]) VALUES (N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', N'RFID-CC-2644', N'Необходимо пополнить товарную матрицу', N'г. Аша, пр. Кольцевой, д. 26 стр. 7, 571343', N'Тестовый')
GO
INSERT [dbo].[rfid_loading] ([vending_machine_id], [rfid_loading], [model]) VALUES (N'a977e322-192c-4567-9f5f-36f504bfc13d', N'RFID-LD-1061', N'Necta Kikko Max')
INSERT [dbo].[rfid_loading] ([vending_machine_id], [rfid_loading], [model]) VALUES (N'e1d62e6a-5427-4dda-8209-bb584bfbc9e5', N'RFID-LD-2429', N'Unicum Rosso')
INSERT [dbo].[rfid_loading] ([vending_machine_id], [rfid_loading], [model]) VALUES (N'7ed68dd4-ef8b-4124-9084-bc16ee8f10d3', N'RFID-LD-4375', N'Unicum Rosso')
GO
INSERT [dbo].[rfid_services] ([vending_machine_id], [rfid_service], [coordinates], [total_income], [timezone]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', N'RFID-SVC-1443', N'75.504369, 33.27249', N'20416.26', N'UTC+3')
INSERT [dbo].[rfid_services] ([vending_machine_id], [rfid_service], [coordinates], [total_income], [timezone]) VALUES (N'7ed68dd4-ef8b-4124-9084-bc16ee8f10d3', N'RFID-SVC-2298', N'-25.735753, -67.520209', N'19713.49', N'UTC+6')
INSERT [dbo].[rfid_services] ([vending_machine_id], [rfid_service], [coordinates], [total_income], [timezone]) VALUES (N'dc92a945-80cf-4c86-8927-97026c6e82da', N'RFID-SVC-2702', N'83.357794, -63.240092', N'13389.38', N'UTC+5')
GO
INSERT [dbo].[roles] ([role]) VALUES (N'Персонал')
INSERT [dbo].[roles] ([role]) VALUES (N'Франчайзи')
GO
INSERT [dbo].[sales] ([sales_id], [timestamp], [product_id], [total_price], [quantity], [payment_method]) VALUES (1, N'2024-11-27 14:47:37.871479', N'a90eaff4-e8bd-400f-a4b9-63cc6e0bcb54', N'672.55', 5, N'Наличные')
INSERT [dbo].[sales] ([sales_id], [timestamp], [product_id], [total_price], [quantity], [payment_method]) VALUES (2, N'2025-01-16 04:40:42.804088', N'f3dc17fc-f9fe-4beb-93f4-a27a02adb152', N'608.55', 5, N'Qr-код')
INSERT [dbo].[sales] ([sales_id], [timestamp], [product_id], [total_price], [quantity], [payment_method]) VALUES (3, N'2025-01-13 06:51:25.062189', N'e9aa2886-0ba0-4b7a-96dc-078855f99872', N'279.1', 2, N'Наличные')
GO
INSERT [dbo].[service_priorities] ([service_priority]) VALUES (N'Высокий')
INSERT [dbo].[service_priorities] ([service_priority]) VALUES (N'Низкий')
INSERT [dbo].[service_priorities] ([service_priority]) VALUES (N'Средний')
GO
INSERT [dbo].[statuss] ([status]) VALUES (N'Обслуживается')
INSERT [dbo].[statuss] ([status]) VALUES (N'Работает')
INSERT [dbo].[statuss] ([status]) VALUES (N'Сломан')
GO
INSERT [dbo].[vending_machines] ([vending_machine_id], [serial_number], [name], [user_id], [rfid_cash_collection], [rfid_loading], [kit_online_id], [rfid_service], [install_date], [place], [operator], [technician], [last_maintenance_date]) VALUES (N'0a9a91bf-0fcc-44ac-b3c2-88a33411413a', 76589076, N'Вокзал', N'35886293-c787-4cde-b7fa-83fafc3f85b3', N'RFID-CC-6695', N'RFID-LD-9239', N'Kit-634265', N'RFID-SVC-8423', NULL, N'Офис', N'Т2', NULL, N'2025-03-30 04:16:07.227057')
INSERT [dbo].[vending_machines] ([vending_machine_id], [serial_number], [name], [user_id], [rfid_cash_collection], [rfid_loading], [kit_online_id], [rfid_service], [install_date], [place], [operator], [technician], [last_maintenance_date]) VALUES (N'0eadd1e6-f757-498c-bc6b-ce12d8ef0f4c', 234234234, N'Whatever', N'7a051229-40bb-443e-80b8-024cb239f52b', NULL, NULL, NULL, NULL, N'23.02.2021', N'hall', NULL, N'7a051229-40bb-443e-80b8-024cb239f52b', NULL)
INSERT [dbo].[vending_machines] ([vending_machine_id], [serial_number], [name], [user_id], [rfid_cash_collection], [rfid_loading], [kit_online_id], [rfid_service], [install_date], [place], [operator], [technician], [last_maintenance_date]) VALUES (N'166c8a3f-a211-4d25-b2d4-a5b0b5f067d5', 76589074, N'Офис Газпром', N'20b7e4c6-0cba-4eb4-afa9-4d3a6a8d34c6', N'RFID-CC-6344', N'RFID-LD-7762', N'Kit-192398', N'RFID-SVC-8423', NULL, N'Холл', N'МТС', NULL, N'2025-03-07 07:28:28.738398')
GO
INSERT [dbo].[work_descriptions] ([work_description]) VALUES (N'Загрузка новой товарной матрицы')
INSERT [dbo].[work_descriptions] ([work_description]) VALUES (N'Замена дисплея')
INSERT [dbo].[work_descriptions] ([work_description]) VALUES (N'Замена модема')
GO
INSERT [dbo].[work_modes] ([work_mode]) VALUES (N'Стандартный')
INSERT [dbo].[work_modes] ([work_mode]) VALUES (N'Тестовый')
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_companies] FOREIGN KEY([company])
REFERENCES [dbo].[companies] ([company])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_companies]
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_critical_threshold_templates] FOREIGN KEY([critical_threshold_template])
REFERENCES [dbo].[critical_threshold_templates] ([critical_threshold_template])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_critical_threshold_templates]
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_notification_templates] FOREIGN KEY([notification_template])
REFERENCES [dbo].[notification_templates] ([notification_template])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_notification_templates]
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_payment_types] FOREIGN KEY([payment_type])
REFERENCES [dbo].[payment_types] ([payment_type])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_payment_types]
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_service_priorities] FOREIGN KEY([service_priority])
REFERENCES [dbo].[service_priorities] ([service_priority])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_service_priorities]
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_statuss] FOREIGN KEY([status])
REFERENCES [dbo].[statuss] ([status])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_statuss]
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_users1] FOREIGN KEY([engineer])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_users1]
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_users2] FOREIGN KEY([manager])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_users2]
GO
ALTER TABLE [dbo].[kit_online_id]  WITH CHECK ADD  CONSTRAINT [FK_kit_online_id_vending_machines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[vending_machines] ([vending_machine_id])
GO
ALTER TABLE [dbo].[kit_online_id] CHECK CONSTRAINT [FK_kit_online_id_vending_machines]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_users]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_vending_machines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[vending_machines] ([vending_machine_id])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_vending_machines]
GO
ALTER TABLE [dbo].[maintenance]  WITH CHECK ADD  CONSTRAINT [FK_maintenance_work_descriptions] FOREIGN KEY([work_description])
REFERENCES [dbo].[work_descriptions] ([work_description])
GO
ALTER TABLE [dbo].[maintenance] CHECK CONSTRAINT [FK_maintenance_work_descriptions]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_vending_machines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[vending_machines] ([vending_machine_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_vending_machines]
GO
ALTER TABLE [dbo].[rfid_cash_collections]  WITH CHECK ADD  CONSTRAINT [FK_rfid_cash_collections_vending_machines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[vending_machines] ([vending_machine_id])
GO
ALTER TABLE [dbo].[rfid_cash_collections] CHECK CONSTRAINT [FK_rfid_cash_collections_vending_machines]
GO
ALTER TABLE [dbo].[rfid_cash_collections]  WITH CHECK ADD  CONSTRAINT [FK_rfid_cash_collections_work_modes] FOREIGN KEY([work_mode])
REFERENCES [dbo].[work_modes] ([work_mode])
GO
ALTER TABLE [dbo].[rfid_cash_collections] CHECK CONSTRAINT [FK_rfid_cash_collections_work_modes]
GO
ALTER TABLE [dbo].[rfid_loading]  WITH CHECK ADD  CONSTRAINT [FK_rfid_loading_vending_machines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[vending_machines] ([vending_machine_id])
GO
ALTER TABLE [dbo].[rfid_loading] CHECK CONSTRAINT [FK_rfid_loading_vending_machines]
GO
ALTER TABLE [dbo].[rfid_services]  WITH CHECK ADD  CONSTRAINT [FK_rfid_services_vending_machines] FOREIGN KEY([vending_machine_id])
REFERENCES [dbo].[vending_machines] ([vending_machine_id])
GO
ALTER TABLE [dbo].[rfid_services] CHECK CONSTRAINT [FK_rfid_services_vending_machines]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK_sales_payment_methods] FOREIGN KEY([payment_method])
REFERENCES [dbo].[payment_methods] ([payment_method])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK_sales_payment_methods]
GO
ALTER TABLE [dbo].[sales]  WITH CHECK ADD  CONSTRAINT [FK_sales_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[sales] CHECK CONSTRAINT [FK_sales_product]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_roles] FOREIGN KEY([role])
REFERENCES [dbo].[roles] ([role])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_roles]
GO
ALTER TABLE [dbo].[vending_machines]  WITH CHECK ADD  CONSTRAINT [FK_vending_machines_operators] FOREIGN KEY([operator])
REFERENCES [dbo].[operators] ([operator])
GO
ALTER TABLE [dbo].[vending_machines] CHECK CONSTRAINT [FK_vending_machines_operators]
GO
USE [master]
GO
